<!-- <router-outlet> </router-outlet>  -->
    <!-- <a routerLink="landing"></a>  -->
    <!--<mat-form-field class="example-full-width">
      <mat-label>Search Your Favorite Hotel</mat-label>
      <input matInput placeholder="ROYAL HOTEL" value="ANY">
    </mat-form-field>
    <button ></button> -->
    <!-- <app-landing> </app-landing> -->
  <!-- <div class="backcl"> 
  <li>
   <a routerLink="landing" class="main"> !!If U Find Ur FAV. Hotel Then Click Me!! class="main"</a>
</li>  -->
<!-- <div> -->
<router-outlet > </router-outlet> 
<!-- <div class="homepage"></div> -->
 <!-- <img src="../assets/images/hotel.png" class="homepage"> 
</div>
  -->
