.main{
    text-align: center;
    border: 2px 2px 2px 2px;
   
   }
  /* .backcl{
    background-image: url('../assets/images/hotel.png');

    opacity: 0.5px;
   }  .homepage{
    background-image:url("../../assets/Images/itc-grand-bharat.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
} */