.main{
 text-align: center;
 border: 2px 2px 2px 2px;

}
.back{
        background-image:url("../../assets/images/crowne plaza.jpg");
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }