    <div class="back">
      <nav>
          <button mat-raised-button color="accent">HOTEL DETAILS</button>  &nbsp; &nbsp; &nbsp;
          <button mat-raised-button color="primary" (click)="OnClickJourney1()">ADMIN</button> &nbsp;
          <button mat-raised-button color="primary" (click)="OnClickJourney2()">OWNER</button> &nbsp;
          <button mat-raised-button color="primary" (click)="OnClickJourney3()">USER</button>  &nbsp;
      </nav>
          <!-- <img src="../../assets/images/hotel booking img.jpg"/> -->
    </div>
     <!-- <router-outlet></router-outlet>
      -->

     <!-- <img src="../../assets/images/hotel booking img.jpg"/> -->